{% extends 'base.html.twig' %}

{% block title %}Hello PersonneController!
{% endblock %}

{% block body %}
	<style>
		table {
			font-family: arial, sans-serif;
			border-collapse: collapse;
			width: 100%;
		}

		td,
		th {
			border: 1px solid #dddddd;
			text-align: left;
			padding: 8px;
		}

		tr:nth-child(even) {
			background-color: #dddddd;
		}
	</style>

	<div class="example-wrapper">
		<h1>Hello
			{{ controller_name }}! ✅</h1>

		<table>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Prénom</th>
			</tr>
            {% for personne in personnes %}

			<tr>
				<td>{{ personne.id }}</td>
				<td>{{ personne.nom }}</td>
				<td>{{ personne.prenom }}</td>
			</tr>
            {% endfor %}

		</table>

	</div>
{% endblock %}
